body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FF6969;
    color: #141E46;
    padding: 10px;
    text-align: center;
}
footer{
    background-color: #FF6969;
    color: #141E46;
    text-align: center;
    padding: 10px;
    position: absolute;
    width: 100%;
    bottom: 0;
}
main{
    background-color: #FFF5E0;
    color: #141E46;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
}
.item{
    display: flex;
}
.box{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.item{
    margin: 0;
}
button{
    border-radius: 50%;
}