ul{
    list-style-type: none; 
}
body {
    background: #222;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
        helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
    color: white;
}
main {
    position: absolute;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
  }
header {
    background: hotpink;
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
}
footer {
    position: absolute;
    bottom: 0;
    background: hotpink;
    width: 100vw;
    padding: 0;
    margin: 0;
}